.blue-3 {
  background-color: #005b7c !important;
  border-color: #005b7c !important;
}

.blue-2 {
  background-color: #008eab !important;
  border-color: #008eab !important;
}

.blue-1 {
  background-color: #01bcc6 !important;
  border-color: #01bcc6 !important;
}

.sand-1 {
  background-color: #d5d1ca !important;
  border-color: #d5d1ca !important;
}

.gray-1 {
  background-color: #efefee !important;
  border-color: #efefee !important;
}

.text-white {
  color: white !important;
}

.text-black {
  color: black !important;
}

.alegreya {
  font-family: 'Alegreya', serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.circle-img {
  border-radius: 50%;
}
